<h2><%= link_to @link.title, @link.url, target: "_blank" %></h2>

<%= link_to "Visit URL", @link.url, target: "_blank" %><br/>

<%= link_to "Upvote #{@link.get_upvotes.size}", like_link_path(@link), method: :put %> | 
<%= link_to "Downvote #{@link.get_downvotes.size}", dislike_link_path(@link), method: :put %><br/>

<% if @link.user == current_user %>
	<%= link_to 'Edit', edit_link_path(@link) %> | 
	<%= link_to 'Back', links_path %>
<% end %>
